#content-area {
	height: calc(100vh - 53px);
	display: flex;
	overflow: hidden;
}

#filter {
	background: $grey;
	max-width: 300px;
	display: flex;
	flex: 3;
	overflow: auto;
	.inside {
		padding: 20px;
		width: 100%;
	}
	h4 {
		margin-bottom: 25px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 1px;
	}
	select {
		display: block;
		width: 100%;
		padding: 5px;
		color: #636363;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 25px;
		background: transparent;
		border-radius: 2px;
	}
	.filters {
		.title {
			font-weight: 500;
			color: grey;
			font-size: 0.75rem;
			display: block;
			margin-bottom: 0.5rem;
		}
		input[type="text"] {
			width: 45%;
			margin-right: 2.5%;
			margin-bottom: 1.1rem;
			border-radius: 4px;
		}
		&.extras {
			label {
				padding: 10px 0;
				display: block;
				width: 100%;
				color: rgb(41, 41, 41);
				font-size: 0.8rem;
				input[type="checkbox"] {
					float: right;
					background: red;
				}
			}
		}
	}
}

#listings {
	// width: 70%;
	// float: left; // display: inline-block;
	// display: flex;
	// flex-direction: column;
	padding: 15px;
	flex: 7;
	overflow-y: auto;
	// height: 100vh;
	background: $offwhite;
	.search-and-sort {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	.search-area {
		color: $lightgrey; // flex-grow: 1;
		width: 70%;
		input[type="text"] {
			width: 100%;
			background: transparent;
			font-size: 1.8rem;
			font-weight: 300;
			border: none;
			border-bottom: 1px solid $darkgrey;
			margin-bottom: 5px;
			color: $darkgrey;
			display: inline-flex;
		}
		.results {
			font-size: 0.8rem;
		}
	}
	.sortby-area {
		display: flex;
		flex-flow: column;
		// align-self: center;
		justify-content: flex-end;
		padding: 5px 0;

		.fa {
			padding: 5px 10px;
		}

		.fa:hover {
			transform: scale(1.2);
		}
	}

	.listings-results {
		margin-bottom: 60px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		.listing-list {
			background: #fff;
			max-width: 80%;
			margin: 10px 10%;
			box-shadow: 0px 5px 15px -2px #c5c5c5;
			border-radius: 5px;
			cursor: pointer;
			transition: box-shadow 0.3s ease-in-out;
			display: flex;

			&:hover {
				box-shadow: 2px 12px 15px -2px rgb(197, 197, 197);
				.details {
					opacity: 1;
				}
			}
		}

		.listing-grid {
			background: #fff;
			flex: 1 0 28%;
			max-width: 320px;
			margin: 10px;
			box-shadow: 0px 5px 15px -2px rgb(197, 197, 197);
			border-radius: 5px;
			cursor: pointer;
			transition: box-shadow 0.3s ease-in-out;

			&:hover {
				box-shadow: 2px 12px 15px -2px rgb(197, 197, 197);
				.details {
					opacity: 1;
				}
			}
		}

		.listing-image-list {
			min-height: 205px;
			border-radius: 5px 5px 0 0;
			width: 50%;
			position: relative;
			background-size: cover;

			// color: $offwhite;
		}

		.listing-image-grid {
			background-size: cover;
			min-height: 205px;
			border-radius: 5px 5px 0 0;
			display: flex;
			flex-direction: column;
			position: relative;
			// color: $offwhite;
		}

		.details {
			opacity: 0;
			display: flex;
			flex-direction: column;
			padding: 10px;
			min-height: 205px;
			display: -webkit-flex;
			flex-wrap: wrap;
			// justify-content: space-between;
			// align-items: auto;
			// align-content: center;
			color: $offwhite;

			background: linear-gradient(to left, rgba(83, 83, 211, 0.877), rgba(143, 62, 197, 0.849));
			border-radius: 5px 5px 0 0;
			transition: all 0.3s ease-in-out;

			.user {
				display: flex;
			}

			.user-img {
				border-radius: 50%;
				background: url("https://i1.rgstatic.net/ii/profile.image/494202137964544-1494838379378_Q64/Prachi_Ingle.jpg")
					no-repeat center center;
				border: 1px solid $offwhite;
				min-height: 50px;
				min-width: 50px;
				max-height: 50px;
				max-width: 50px;
				// position: relative;
				// vertical-align: bottom;
			}

			.user-details {
				padding-left: 10px;
				display: flex;
				flex-direction: column;

				.user-name {
					padding-bottom: 3px;
				}

				.post-date {
					font-size: 0.9rem;
					color: rgba(240, 240, 240, 0.753);
				}
			}

			.listing-details {
				display: flex;
				justify-content: space-around;
				margin-top: 40px;

				.fa {
					padding-left: 8px;
				}
			}
		}

		.address {
			letter-spacing: 1px;
			font-weight: 500;
			position: absolute;
			color: $offwhite;
			bottom: 10px;
			padding-left: 10px;
		}

		.bottom-info,
		& span {
			padding: 5px;
			display: block;

			// span {
			//     padding: 5px;
			// }

			.fa {
				padding-right: 3px;
			}

			:first-child {
				color: grey;
			}

			:last-child {
				color: $lightgrey;
			}
		}
	}
}

// .col-md-3 {
//     width: 25%;
//     display: inline-block;
//     vertical-align: top;
// }

.col-md-9 {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

.pagination {
	text-align: center;
	.pages {
		display: inline-block;
		background: white;
		box-shadow: 0px 5px 15px -2px rgb(197, 197, 197);
	}

	li {
		display: inline-block;
		padding: 20px 30px;
		border: 0.1px solid rgba(236, 236, 236, 0.411);
		cursor: pointer;
		&.active {
			background: $pink;
			color: white;
			font-weight: 700;
		}
		&:hover {
			background: $pink;
			// color: white;
			// font-weight: 700;
		}
	}
}

.filterBtn {
	position: absolute;
	display: none;
}

@media only screen and (max-width: 550px) {
	#content-area {
		height: 100vh;
		padding-top: 53px;
	}

	#filter {
		flex: 0;
		// position: relative; //position absolute will be set when filter section opened. it appears on top of listings
		left: 0;
		width: 100%;
		// padding-left: 20px;
		z-index: 3;
		// width: 0px;
		max-width: unset;
		transition: all 1s;
		.inside {
			padding-left: 40px;
		}
	}
	.filterBtn {
		opacity: 1;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		// right: -20px;
		left: 0;
		top: 50%;
		z-index: 5;
		// text-orientation: mixed;
		// background: $darkpurple;
		border: 1px solid grey;
		border-radius: 0 15px 15px 0;
		padding: 14px 14px 14px 5px;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		// color: $grey;
	}
}

//------- listing image list view

// min-height: 205px;
// border-radius: 5px 5px 0 0;
// width: 50%;
// position: relative;

//-------- listing list view

// background: #fff;
// max-width: 80%;
// margin: 10px 10%;
// box-shadow: 0px 5px 15px -2px #c5c5c5;
// border-radius: 5px;
// cursor: pointer;
// transition: box-shadow 0.3s ease-in-out;
// display: flex;
