#filter {
    background:$grey;
    width: 30%;
    max-width: 300px;
    // display: inline-block;
    float: left;

    .inside{
        padding: 20px;
        max-width: 300px;

        

    }


    h4 {
        margin-bottom: 25px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    select {
        display: block;
        width: 100%;
        padding: 5px;
        color: #636363;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 25px;
        background: transparent;
        border-radius: 2px;
    }

    .filters{
 
        .title {
            font-weight: 500;
            color: grey;
            font-size: 0.75rem;
            display: block;
            margin-bottom: 0.5rem;

            
        }

        input[type="text"] {

            width: 45%;
            margin-right: 2.5%;
            margin-bottom: 1.1rem;
            border-radius: 4px;
            
        }

        &.extras {
            label {
                padding: 10px 0;
                display: block;
                width: 100%;
                color: rgb(41, 41, 41);
                font-size: 0.8rem;

                input[type="checkbox"] {
                    float: right;
                    background: red;
                }
            }
        }
    }
}

#listings {
    width: 70%;
    float: left;
    // display: inline-block;
    padding: 15px;
     .search-and-sort {
         display: flex;
         justify-content: space-between;
         
     }
    .search-area {
        color: $lightgrey;
        // flex-grow: 1;
        width: 70%;

        input[type="text"] {
            width: 100%;
            
            background: transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 1px solid $lightgrey;
            margin-bottom: 5px;
            color: $darkgrey;
            display: inline-flex;

        }
        .results {
            font-size: 0.8rem;

        }
    }


    
}