@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, html, body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

header {
  background: #0C002B;
  color: white;
  overflow: auto;
  padding: 20px 15px; }
  header .logo {
    float: left; }
  header nav {
    float: right; }
    header nav a {
      color: white;
      text-decoration: none;
      padding: 7px 15px;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 0.9rem; }
      header nav a:hover {
        color: #FF718E; }
      header nav a.register-btn {
        background: #FF718E;
        padding: 7px 20px;
        text-align: center;
        color: white;
        border-radius: 5px; }

#content-area {
  width: 100%;
  overflow: auto;
  background: black; }

#filter {
  background: #faf7f5;
  width: 30%;
  max-width: 300px;
  float: left; }
  #filter .inside {
    padding: 20px;
    max-width: 300px; }
  #filter h4 {
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px; }
  #filter select {
    display: block;
    width: 100%;
    padding: 5px;
    color: #636363;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
    background: transparent;
    border-radius: 2px; }
  #filter .filters .title {
    font-weight: 500;
    color: grey;
    font-size: 0.75rem;
    display: block;
    margin-bottom: 0.5rem; }
  #filter .filters input[type="text"] {
    width: 45%;
    margin-right: 2.5%;
    margin-bottom: 1.1rem;
    border-radius: 4px; }
  #filter .filters.extras label {
    padding: 10px 0;
    display: block;
    width: 100%;
    color: #292929;
    font-size: 0.8rem; }
    #filter .filters.extras label input[type="checkbox"] {
      float: right;
      background: red; }

#listings {
  width: 70%;
  float: left;
  padding: 15px;
  background: #FFFEFF; }
  #listings .search-and-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
  #listings .search-area {
    color: #b6b3b4;
    width: 70%; }
    #listings .search-area input[type="text"] {
      width: 100%;
      background: transparent;
      font-size: 1.7 rem;
      border: none;
      border-bottom: 1px solid #b6b3b4;
      margin-bottom: 5px;
      color: #ADA8AA;
      display: inline-flex; }
    #listings .search-area .results {
      font-size: 0.8rem; }
  #listings .sortby-area {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 5px 0; }
    #listings .sortby-area .fa {
      padding: 5px 10px; }
  #listings .listings-results {
    margin-bottom: 60px; }
    #listings .listings-results .listing {
      background: #fff;
      width: 33.33%;
      box-shadow: 0px 5px 15px -2px #c5c5c5;
      border-radius: 5px; }
      #listings .listings-results .listing:hover .details {
        opacity: 1; }
    #listings .listings-results .listing-image {
      background: url("https://images.unsplash.com/photo-1430285561322-7808604715df?auto=format&fit=crop&w=300&q=80") no-repeat center center;
      background-size: cover;
      min-height: 205px;
      border-radius: 5px 5px 0 0;
      display: flex;
      flex-direction: column;
      position: relative; }
    #listings .listings-results .details {
      opacity: 0;
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-height: 205px;
      display: -webkit-flex;
      flex-wrap: wrap;
      color: #FFFEFF;
      background: linear-gradient(to left, rgba(83, 83, 211, 0.877), rgba(143, 62, 197, 0.849));
      border-radius: 5px 5px 0 0;
      transition: all 0.4s ease-in-out; }
      #listings .listings-results .details .user {
        display: flex; }
      #listings .listings-results .details .user-img {
        border-radius: 50%;
        background: url("https://i1.rgstatic.net/ii/profile.image/494202137964544-1494838379378_Q64/Prachi_Ingle.jpg") no-repeat center center;
        border: 1px solid #FFFEFF;
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px; }
      #listings .listings-results .details .user-details {
        padding-left: 10px;
        display: flex;
        flex-direction: column; }
        #listings .listings-results .details .user-details .user-name {
          padding-bottom: 3px; }
        #listings .listings-results .details .user-details .post-date {
          font-size: 0.9rem;
          color: rgba(240, 240, 240, 0.753); }
      #listings .listings-results .details .listing-details {
        display: flex;
        justify-content: space-around;
        margin-top: 40px; }
        #listings .listings-results .details .listing-details .fa {
          padding: 8px; }
    #listings .listings-results .address {
      letter-spacing: 1px;
      font-weight: 500;
      position: absolute;
      color: #FFFEFF;
      bottom: 10px;
      padding-left: 10px; }
    #listings .listings-results .bottom-info,
    #listings .listings-results span {
      padding: 5px; }
      #listings .listings-results .bottom-info .fa,
      #listings .listings-results span .fa {
        padding-right: 3px; }
